<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/style.css" rel="stylesheet"/>
    <title>exatool</title>
</head>
<body>
    <div id="params">
        <form action= "/foo/generate/" method="POST">{% csrf_token %}
            {{ paramForm.as_p }}
            <input type="submit" value="Generate">
        </form>
    </div>

    <div id="response">
        <form action= "/foo/execute/" method="POST">{% csrf_token %}
            <textarea name="conf" cols="150" rows="50">{{conf}}</textarea>
            <input type="submit" value="Execute">
        </form>
    </div>
</body>
</html>