<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/style.css" rel="stylesheet"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <title>exatool</title>
</head>
<body>
    <div>
        <div id="params">
            Parameters:
            <form action= "/foo/generate/" method="POST">{% csrf_token %}
                {{ paramForm.as_p }}
                <input type="submit" value="Generate">
            </form>
        </div>

        <div>
            <div id="configuration">
                <form action= "/foo/execute/" method="POST">{% csrf_token %}
                    Configuration:
                    <textarea name="conf" cols="110" rows="50">{{conf}}</textarea>
                    <input type="submit" value="Execute">
                </form>
            </div>
            <div id="response">
                Output:
                <textarea name="conf" cols="110" rows="50">{{result}}</textarea>
            </div>
        </div>

        <div class="telnet">
            <button onclick="show_route('show route logical-system rr table inet.3 protocol bgp',1)">show route logical-system rr table inet.3 protocol bgp</button>
            Output:
            <textarea id="command_output1" name="conf" rows="20"></textarea>
        </div>
        <div class="telnet">
            <button onclick="show_route('show route table inet.0 protocol bgp logical-system rr',2)">show route table inet.0 protocol bgp logical-system rr </button>
            Output:
            <textarea id="command_output2" name="conf" rows="20"></textarea>
        </div>
    </div>
</body>
<script>
function show_route(cmd,msg){
    $.post(
        "/foo/command/",
        {cmd:cmd},
        function(res) {
            if(msg == 1)
                document.getElementById('command_output1').value = res.output;
            if(msg == 2)
                document.getElementById('command_output2').value = res.output;
        },
    );
}
</script>
</html>