{% extends "frame.html" %}
{% block body %}
<div class="top">
    <div class="params_addr">
        Parameters:
        <form id="generate_form" action= "/foo/generate/" method="POST">{% csrf_token %}
            {{ paramForm.as_p }}
            <input type="submit" value="Generate">
        </form>
    </div>
    <div class="conf">
        Configuration:
        <textarea id="conf_textarea" class="general_textarea" readonly></textarea>
        <button onclick="create_conf()">Create vpn.conf</button>
    </div>
    <div class="result">
        Result:
        <textarea id="result_textarea" class="general_textarea" readonly></textarea>
    </div>
</div>
<div class="mid" style="display:inline-block;">
    Executions:
    <div class="start">
        <label>Start: </label><button onclick="command('start','','')">exabgp vpn.conf</button>
    </div>
    <div class="modify">
        <label>Modify: </label>
        <div class="ipv4_block">
            <label class="block_title">Normal IPv4 Prefix: </label>
            <div class="params_modify">
                <div><label>neighbor address:</label><input id="nm_nb_addr" type="text" class="bar"></div>
                <div><label>prefix:</label><input id="nm_pref" type="text" class="bar" ></div>
                <div><label>next-hop:</label><input id="nm_nh" type="text" class="bar"></div>
                <button onclick="command('modify', 'normal', 'announce')">Announce</button>
                <button onclick="command('modify', 'normal', 'withdraw')">Withdraw</button>
            </div>
        </div>

        <div class="ipv4_block">
            <label>IPv4 Prefix with Label: </label>
            <div class="params_modify">
                <div><label>neighbor address:</label><input id="lb_nb_addr" type="text" class="bar"></div>
                <div><label>prefix:</label><input id="lb_pref" type="text" class="bar"></div>
                <div><label>next-hop:</label><input id="lb_nh" type="text" class="bar"></div>
                <div><label>label:</label><input id="lb_lb" type="text" class="bar"></div>
                <button onclick="command('modify', 'label', 'announce')">Announce</button>
                <button onclick="command('modify', 'label', 'withdraw')">Withdraw</button>
            </div>

        </div>
        <div class="ipv4_block">
            <label>FlowSpec IPv4 Prefix: </label>
            <div class="params_modify">
                <div><label>neighbor address:</label><input id="fs_nb_addr" type="text" class="bar"></div>
                <div><label>source prefix:</label><input id="fs_sr_pref" type="text" class="bar"></div>
                <div><label>destination prefix:</label><input id="fs_dt_nh" type="text" class="bar"></div>
                <div><label>action:</label><input id="fs_act" type="text" class="bar"></div>
                <button onclick="command('modify', 'flowspec', 'announce')">Announce</button>
                <button onclick="command('modify', 'flowspec', 'withdraw')">Withdraw</button>
            </div>
        </div>
    </div>
    <div class="terminate">
        <label>Terminate: </label><button onclick="command('terminate','','')">Terminate exabgp</button>
    </div>

</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
    $("#generate_form").ajaxForm(function(res){
        var conf_textarea = document.getElementById("conf_textarea");
        conf_textarea.innerHTML = res.conf;
    });
});
</script>
{% endblock %}