{% if params.is_nb_addr %}
neighbor {{params.is_nb_addr}} {
    router-id 172.27.10.120;
    local-address 172.27.10.120;
    local-as 1;
    peer-as 1;
    hold-time 60;
    family {
         ipv4 unicast;
         ipv4 nlri-mpls;
         ipv4 flow;
    }
}
{% endif %}
{% if params.dr_nb_addr %}
neighbor {{params.dr_nb_addr}} {
    router-id 172.27.10.120;
    local-address 172.27.10.120;
    local-as 1;
    peer-as 1;
    hold-time 60;
    family {
         ipv4 unicast;
         ipv4 nlri-mpls;
         ipv4 flow;
    }
}
{% endif %}
{% if params.es_nb_addr %}
neighbor {{params.es_nb_addr}} {
    router-id 172.27.10.120;
    local-address 172.27.10.120;
    local-as 1;
    peer-as 1;
    hold-time 60;
    family {
         ipv4 unicast;
         ipv4 nlri-mpls;
         ipv4 flow;
    }
}
{% endif %}