#params{
    margin: 10px auto;
    width:90%;
}
#configuration{
    width: 50%;
    float: left;
}
#response{
    width: 50%;
    float: left;
}

#telnet{
    margin-top: 50px;
    margin-left: 20%;
    width: 60%;
    float: left;
    display: grid;
}